
<div class="primary">


<!--header Section-->
<div ng-include="'/partials/header'"></div>
<!--header Section End-->


<!--Main Content-->
<div class="main-content">
	<div class="main-content-inner">
    	 <div class="about" style="margin-top :20px">
         	<article>
                <p>ISBN Stjärnsvenskabiblioteket Sagor: 978-91-47-91860-7</p>
                <p>ISBN Stjärnsvenskabiblioteket Upplevelse: 978-91-47-91859-1</p>
                <p>Version: 1.0<br/>Copyright 2014 Liber AB</p>
            </article>

            <article>
                <p> Produktionsbolag: Isolve AB<br/>Ljudproduktion: Thundell &amp; Salmson AB<br/>Projektledare: Hanna Mulugeta Börjesson, Malin Wedsberg<br/>Produktionsledare: Maja Åström<br/>Justering/korrigering av innehållet 2 ggr/år, om det inte är något sker som allvarligt påverkar betydelsen i innehållet.
                </p>
            </article>

            <article>
                <p>Kopieringsförbud!
                </p>
            </article>
            <article>
                <p>Detta verk är skyddat av upphovsrättslagen. Den som bryter mot lagen om upphovsrätt kan åtalas av allmän åklagare och dömas till böter eller fängelse upp till två år samt bli skyldig att erlägga ersättning till upphovsman/rättsinnehavare.
                </p>
            </article>
         </div>
    </div>
</div>
<!--Main Content End-->

</div>
<!--Primary Class for Sticky Footer End-->

<!--Footer-->
<div ng-include="'/partials/footer'"></div>
<!--Footer End-->
