<header data-ng-if="!isLoggedin">
    <div class="header_inner">
        <h1><a href="/#/"><img src="../images/nav_logo.png" width="159" alt="logo"></a></h1>
        <ul class="nav">
            <li data-ng-class="{active: isActive('/home')}">
                <a href="/#/home"><img src="../images/libicon.png" width="41" alt="library-icon"><span>Bibliotek</span>
                </a>
            </li>
            <li data-ng-class="{active: isActive('/about')}">
                <a href="/#/about"><img src="../images/mypageicon.png" width="41" alt="assign-icon"><span>Om</span>
                </a>
            </li>
        </ul>

    </div>
</header>

<header data-ng-if="isLoggedin">
    <div class="header_inner">
        <h1><a href="/#/"><img src="../images/nav_logo.png" width="159" alt="logo"></a></h1>
        <ul class="nav" data-ng-if="!isTeacher">
            <li data-ng-class="{active: isActive('/home')}">
                <a href="/#/home"  analytics-on =“click”><img src="../images/libicon.png" width="41" alt="library-icon" analytics-event="elv_Bibliotek_page click" analytics-category="Navigation"><span>Bibliotek</span>
                </a>
            </li>
            <li data-ng-class="{active: isActive('/mypages')}">
                <a href="/#/mypages" analytics-on =“click”><img src="../images/mypageicon.png" width="41" alt="my-page-icon" analytics-event="elv_Min_Stjärnsida click" analytics-category="Navigation"><span>Min Stjärnsida</span>
                </a>
            </li>
        </ul>
        <div class="logout" data-ng-if="!isTeacher" data-ng-click="logout()">
            <a analytics-on =“click”><img src="../images/logouticon.png" width="41" alt="log-out" analytics-event="elv_Loggaut click" analytics-category="Navigation"> <span>Logga ut</span>
            </a>
        </div>
        <ul class="nav teacher_nav" data-ng-if="isTeacher">
            <li data-ng-class="{active: isActive('/home')}">
                <a href="/#/home" analytics-on =“click”><img src="../images/libicon.png" width="41" alt="library-icon" analytics-event="larare_Bibliotek click" analytics-category="Navigation"><span>Bibliotek</span>
                </a>
            </li>
            <li data-ng-class="{active: isActive('/assign')}">
                <a href="/#/assign" analytics-on =“click”><img src="../images/assign.png" width="41" alt="assign-icon" analytics-event="larare_tilldela click" analytics-category="Navigation"><span>Välj nivå</span>
                </a>
            </li>
            <li data-ng-class="{active: isActive('/follow')}">
                <a href="/#/follow" analytics-on =“click”><img src="../images/follow.png" width="41" alt="assign-icon" analytics-event="larare_Uppföljning click" analytics-category="Navigation"><span>Uppföljning</span>
                </a>
            </li>
            <li data-ng-class="{active: isActive('/about')}">
                <a href="/#/about" analytics-on =“click”><img src="../images/mypageicon.png" width="41" alt="assign-icon" analytics-event="om click" analytics-category="Navigation"><span>Om</span>
                </a>
            </li>
            <li >
                <a data-ng-click="logout()" analytics-on =“click”><img src="../images/logouticon.png" width="41" alt="log-out" analytics-event="larare_logout click" analytics-category="Navigation"> <span>Logga ut</span>
                </a>
            </li>
        </ul>
    </div>
</header>