<div class="primary">
    <!--header Section-->
    <div ng-include="'/partials/header'"></div>
    <!--header Section End-->
    <!--Main Content-->
    <div class="main-content">
        <div class="main-content-inner">
            <section class="about">
                <h2>Kontakt</h2>

                <article>
                    <p>Kontakta oss om du har frågor, behöver support eller har synpunkter</p>
                    <p>E-post support@liber.se</p>
                    <p>Telefon 08 690 92 30 </p>
                </article>
            </section>
        </div>

    </div>
    <!--Main Content End-->
</div>
<!--Primary Class for Sticky Footer End-->
<!--Footer-->
<div ng-include="'/partials/footer'"></div>
<!--Footer End-->