<div class="primary">
    <div ng-include="'/partials/header'"></div>
    <div class="main-content">
        <div style="text-align: center;width: 100%">
            <div style="color: red">{{loginError}}</div>
         <!--    <form data-title="Sign in" data-value="login" name="login"
                  ng-submit="submitLogin()">
                <input style="margin: 5px" type="text" name="username" value="" placeholder="User Id" ng-model="userid"  required autocapitalize="false" />
                </br>
                <input type="password" name="password" value="" placeholder="ticket" ng-model="ticket" required autocapitalize="false" autocorrect="false" />
                </br>
                <input type="submit" name="login" value="Sign in" />
            </form> -->


<style type="text/css">
.lgnbtn {
  margin: 5px;  
  background: #74abcf;
  background-image: -webkit-linear-gradient(top, #74abcf, #2980b9);
  background-image: -moz-linear-gradient(top, #74abcf, #2980b9);
  background-image: -ms-linear-gradient(top, #74abcf, #2980b9);
  background-image: -o-linear-gradient(top, #74abcf, #2980b9);
  background-image: linear-gradient(to bottom, #74abcf, #2980b9);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 25px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.lgnbtn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
</style>

<input class ="lgnbtn" type="button" name= "larare1" value ="Lärare 1" ng-click="loginwithuser('86726304-F942-4E81-AB29-3B3A13DC46EB', 'ST-mdZhFjBGvK98yN2UDcr3RfuLxE6WJ1gPn4kHtCS7')"/></br>
<input  class ="lgnbtn" type="button" name= "larare2" value ="Lärare 2" ng-click="loginwithuser('8CB825F5-DEDB-4796-A902-ED437A742F0C', 'ST-PU431MJKSVLdmHq2u5X9gTEBwDvFyfQzpojZnxNW')"/></br>

<input  class ="lgnbtn" type="button" name= "elev1" value ="elev 1" ng-click="loginwithuser('17EB1826-C410-49CC-A2C4-E0CA8771F7E2', 'ST-syVXwo3QMmPdHqKxiWnGzU9LJjZBA8DTYbFa6fRE')"/></br>
<input  class ="lgnbtn" type="button" name= "elev2" value ="elev 2" ng-click="loginwithuser('A62FEB8D-88F1-4CE2-9574-8F0FF3F14CD6', 'ST-V9tauKzwmXhdByLRg1GjMrQDCncSToFAE72s6qfp')"/></br>
<input  class ="lgnbtn" type="button" name= "elev3" value ="elev 3" ng-click="loginwithuser('F0EA3576-E53B-460B-BBDE-BEFEBC505B13', 'ST-egJ5ZaxMqfvWhr8mNRHj1uctikP9nsFDbEz42o6A')"/></br>
<input  class ="lgnbtn" type="button" name= "elev4" value ="elev 4" ng-click="loginwithuser('6F2218D5-3FB0-4BF4-9917-3BB7330A7194', 'ST-9zydYFBnMxGpPSoKwCZ8EUHeq1tjkg5Xb2usATQf')"/></br>
<input  class ="lgnbtn" type="button" name= "elev5" value ="elev 5" ng-click="loginwithuser('7AF12593-5A24-4657-9289-A305320260F6', 'ST-7qLN415KgdEQDmJra83Sb9MABkcCtoUeFw2GnWHz')"/></br>
<input  class ="lgnbtn" type="button" name= "elev6" value ="elev 6" ng-click="loginwithuser('39F302CF-29F7-4B71-8FE7-D9F6C702C4D8', 'ST-du8NnpUSr1xVjhYJFweRfLCgQBy3cWAmq64ots2i')"/></br>



        </div>
    </div>
</div>


