<div class="primary">
	<!--header Section-->
	<div ng-include="'/partials/header'"></div>
	<!--header Section End-->
	<!--Main Content-->
	<div class="main-content">
		<div class="main-content-inner">
			<section class="teacher">
				<h2>Om Stjärnsvenska</h2>
				<article>
					<br/><p>
					I det digitala Stjärnsvenskabiblioteket kan ni arbeta med böcker från nivå 2 till nivå 8 från Upplevelsebox 3 och från Sagoboxen (boxarna köps separat).
					</p><br/>
				</article>
				<article>
					<h4>Så här gör ni</h4>
					<ul class="abtteacher">
						<li>Eleverna väljer fördst en bok i bokhyllan som de vill läsa [bild på Läs-knappen] eller lyssna på [bild på Lyssna-knappen]<br/></li>
						<li>Vill de så kan de sortera böckerna efter nivå [bild på Sortera på nivå-knappen] för att lägga böckerna på den nivå de rekommendera att läsa överst</li>
						<li>Vill de ha hjälp att välja bok så kan de slumpa fram en [bild på Slumpa bok-knappen], är biblioteket sorterat på nivå så slumpas bok på rätt nivå fram!</li>
						<li>Eleverna kan arbeta vidare med berättelserna och läsförståelsen genom att rita egna bilder till texterna [bild på ] eller tvärtom – skriva egna texter till bokens bilder.</li>
						<li>I slutet av varje bok ligger läsförståelsefrågor så att eleven kan arbeta vidare med förståelse av bokens innehåll</li>
						<li>På bokens sista sida kan eleverna betygsätta boken, genom att markera så många stjärnor de anser att den ska ha!</li>
						<li>Läraren kan ställa in vilken nivå eleverna ska läsa på så att böckerna sorteras i elevernas bokhyllor efter den nivå som passar just dem.</li>
					</ul>
				</article>
				<br/>
				<article>
					<h4>De olika nivåerna</h4>
					<table id ="nivalist">
						<tr>
							<td>
								<h4>Nivå 2:</h4>
								<ul class ="nivalist">
									<li><p>8 sidor</p></li>
									<li><p>20-35 ord</p></li>
									<li><p>max 2 rader per uppslag</p></li>
									<li><p>korta ord och meningar</p></li>
									<li><p>upprepningar av ord och fraser</p></li>
									<li><p>bildstöd för texten</p></li>
									<li><p>enstaka ord med dubbelteckning</p></li>
									<li><p>vissa ord med konsonantmöten</p></li>
									<li><p>ljudenlig stavning</p></li><br/>
								</ul>
							</td>
							<td>
								<h4>Nivå 3:</h4>
								<ul class ="nivalist">
									<li><p>8 sidor</p></li>
									<li><p>45-75 ord</p></li>
									<li><p>max 4 rader per uppslag</p></li>
									<li><p>korta ord och meningar</p></li>
									<li><p>enkla beskrivande ord</p></li>
									<li><p>dubbelteckning</p></li>
									<li><p>bildstöd för texten</p></li>
									<li><p>konsonantmöten</p></li><br/>
								</ul>
							</td>
							<td>
								<h4>Nivå 4:</h4>
								<ul class ="nivalist">
									<li><p>16 sidor</p></li>
									<li><p>135-200 ord</p></li>
									<li><p>max 6 rader per uppslag</p></li>
									<li><p>bildstöd för texten</p></li>
									<li><p>enkla, beskrivande ord</p></li>
									<li><p>fraserad text</p></li>
									<li><p>enstaka sammansatta ord</p></li>
									<li><p>flerstaviga ord</p></li>
									<li><p>dubbelteckning</p></li>
									<li><p>viss ljudstridig stavning</p></li><br/>
								</ul>
							</td>
						</tr>
						
						<tr>
							<td>
								<h4>Nivå 5:</h4>
								<ul class ="nivalist">
									<li><p>16 sidor</p></li>
									<li><p>320-370 ord</p></li>
									<li><p>max 10 rader per uppslag</p></li>
									<li><p>text som fungerar delvis utan bild</p></li>
									<li><p>frasering</p></li>
									<li><p>sammansatta ord</p></li>
									<li><p>ljudstridig stavning</p></li>
									<li><p>rubriker</p></li><br/>
								</ul>
							</td>
							<td>
								<h4>Nivå 6:</h4>
								<ul class ="nivalist">
									<li><p>24 sidor</p></li>
									<li><p>ca 600-800 ord</p></li>
									<li><p>ca 10 rader per uppslag</p></li>
									<li><p>ca 12 bilder</p></li>
									<li><p>varierad meningsbyggnad</p></li>
									<li><p>rubriker</p></li>
									<li><p>text som fungerar utan bild</p></li><br/>
								</ul>
							</td>
							<td>
								<h4>Nivå 7:</h4>
								<ul class ="nivalist">
									<li><p>24 sidor</p></li>
									<li><p>ca 1 000 ord</p></li>
									<li><p>ca 15 rader per uppslag</p></li>
									<li><p>ca 10 bilder</p></li>
									<li><p>varierad meningsbyggnad</p></li>
									<li><p>rubriker</p></li>
									<li><p>mer obekant vokabulär</p></li><br/>
								</ul>
							</td>
						</tr>

						<tr>
							<td>
								<h4>Nivå 8:</h4>
								<ul class ="nivalist">
									<li><p>24 sidor</p></li>
									<li><p>ca 1 300-1 500 ord</p></li>
									<li><p>ca 20 rader per uppslag</p></li>
									<li><p>ca 8 bilder</p></li>
									<li><p>kapitelindelning</p></li>
									<li><p>språket mer abstrakt och broderande</p></li><br/>
								</ul>
							</td>
						</tr>
					</table>
				</article>
			</section>
		</div>
	</div>
	<!--Main Content End-->
</div>
<!--Primary Class for Sticky Footer End-->
<!--Footer-->
<div ng-include="'/partials/footer'"></div>